.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg);
}
.admin h1{
    color: #fff;
    font-family: inherit;
    font-size: 1.4rem;
}
.admin form{
    width: 50vw;
    height: auto;
    text-align: center;
    background-color: var(--primery) ;
}

.admin_name{
    width: 15rem;
    background-color: #fff;
}
.admin_skills{
    width: 20rem;
    margin-top: 2rem;

}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2rem;
    align-items: baseline;
}
.skill input{
    width: 8rem;
    background-color: var(--bg);
    padding: 10px;
    font-size: 10px;
}
.admin_about{
    width: 30rem;
    padding: 2rem;
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
}
.admin_about h5{
    color: #fff;
    font-size: 1.3rem;
    font-family: inherit;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.admin a{
    text-decoration: none;
    color: #fff;
    margin: 1rem;
    border: 2px solid gray;
    padding: 10px 20px 10px 20px ;

}

.admin_button{
    background-color: white;
    border: 1px solid #fff;
    padding: 7px;
    padding-right:10px ;
    border-radius: 15px;
    cursor: pointer;
    color: var(--primery);
    padding-left: 10px;
    width: 7rem;
}

.admin_logout{
    margin-top: 5rem;
    width: 10rem;
    padding: 10px 30px 10px 30px;
}