*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
}
html{
  /* box-sizing: border-box;
  overflow: hidden; */
}

:root{
  --bg:#212027;
  --primery:#f22f08;   
  --secondary:#F9B11C;
  --low_bg: #77bfe2;
}

.button{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: ease-in-out .3s;
    border: none;
    background-color: transparent;
    box-shadow: -2px 3px 8px 2px var(--secondary);
    cursor: pointer;
}

.boxshadow_secon{
  box-shadow: 1px 6px 10px 1px var(--secondary);

}


/* animation******* */

@keyframes l_r_{
  to{
    transform: translateX(0);
  }
  
}

@keyframes r_l_rotete{
  to{
    transform:translateX(0%) translateY(0%);
  }
}

@keyframes b_to_t {
  to{
    transform: translateX(-100%);
  }
}